{{- $existingConfigMap := lookup "v1" "ConfigMap" .Release.Namespace "vllm-chat-templates" }}
{{- if not $existingConfigMap }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: vllm-chat-templates
data:
  tool_chat_template_llama3.2_json.jinja: |-
{{ .Files.Get "files/tool_chat_template_llama3.2_json.jinja" | indent 4 }}
  tool_chat_template_llama3.2_pythonic.jinja: |-
{{ .Files.Get "files/tool_chat_template_llama3.2_pythonic.jinja" | indent 4 }}
  tool_chat_template_qwen.jinja: |-
{{ .Files.Get "files/tool_chat_template_qwen.jinja" | indent 4 }}
{{- end }}
