{{- $existingSecret := lookup "v1" "Secret" .Release.Namespace "huggingface-secret" }}
{{- if and .Values.secret.enabled (not $existingSecret) }}
kind: Secret
apiVersion: v1
metadata:
  name: huggingface-secret
data:
  HF_TOKEN: {{ .Values.secret.hf_token | b64enc | quote }}
type: Opaque
{{- end }}
