{{- range $realmName, $realmConfig := .Values.realms }}
{{- range $client := $realmConfig.clients }}
{{- if and (not $client.publicClient) (eq $client.protocol "openid-connect") }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $.Release.Name }}-kc-client-{{ $client.clientId }}
  labels:
    {{- include "keycloak.labels" $ | nindent 4 }}
    app.kubernetes.io/component: oidc-client
    keycloak.org/realm: {{ $realmName }}
    keycloak.org/client: {{ $client.clientId }}
type: Opaque
stringData:
  client-id: {{ $client.clientId | quote }}
  client-secret: {{ $client.secret | default (randAlphaNum 32) | quote }}
  cookie-secret: {{ randAlphaNum 32 | b64enc | quote }}
{{- end }}
{{- end }}
{{- end }}
