{{- $existingSecret := lookup "v1" "Secret" .Release.Namespace (include "keycloak.fullname" .) }}
{{- $adminPassword := .Values.auth.adminPassword }}
{{- if not $adminPassword }}
  {{- if $existingSecret }}
    {{- $adminPassword = index $existingSecret.data "admin-password" | b64dec }}
  {{- else }}
    {{- $adminPassword = randAlphaNum 24 }}
  {{- end }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "keycloak.fullname" . }}
  labels:
    {{- include "keycloak.labels" . | nindent 4 }}
type: Opaque
stringData:
  admin-username: {{ .Values.auth.adminUser | quote }}
  admin-password: {{ $adminPassword | quote }}
{{- if and (not .Values.database.secret.name) (eq .Values.database.vendor "postgres") }}
  db-username: {{ .Values.database.username | quote }}
  db-password: {{ .Values.database.password | quote }}
{{- end }}
